// About start
section#about.module
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 루스트 브랜드 스토리
                    h3.module-subtitle ABOUT ROOST PLACE
        // .row        
        .row
            .col-sm-8.col-sm-offset-2.text-center
                | 루스트는 2010년 제주노형점 오픈을 시작으로 총 8개 지점을 오픈하였습니다.
                br
                | 신선한 식자재들로 요리하며 합리적인 가격으로 편안하게 쉬어 갈 수 있는 휴식처를 제공하는 서비스문화를 
                br
                | 만들어내어 젊은 남녀 고객과 가족단위, 연령층의 제한없이 많은 사랑을 받고 있습니다. 
                br
                | 앞으로도 언제 어디서나 더 편안하게 머물러 가실 수 있는 루스트가 되도록 노력하겠습니다.
        // .row
        br
        .row
            .col-sm-6.col-sm-offset-2
                h3.menu-title 브랜드 아이덴티티 소개
        // .row
        br
        .row
            .col-sm-4.col-sm-offset-2
                .menu-detail 로고
                .row(style="text-align: center")
                    img(src='../images/rst2/logo.png', alt='')
            .col-sm-4
                .menu-detail 컬러
                .row(style="text-align: center")
                    img(src='../images/rst2/logo_color.png', alt='')
        // .row
        br
        .row
            .col-sm-8.col-sm-offset-2.text-center
                b 브랜드 컨셉소개 : 
                | 루스트라는 의미는 휴식처라는 의미이며, 휴식처를 컨셉으로 도시에서 생활하는 현대인들의 
                br
                | 피로를 덜어 줄 수 있는 자연적인 요소들로 정신적으로 편안함을 느끼게 할 수 있는 인테리어와 합리적인 가격으로 
                br
                | 더 편안하게, 기분 좋게 식사하고 갈 수 있도록 제공하고자 이러한 특징을 살려 브랜드 이미지를 전달합니다.
        // .row
        // .row
            .col-sm-6.col-sm-offset-3
                .devider
                    img(src='../images/divider-down.svg', alt='')
        // .row
    // .container
// About end