// Callout section start
//section#callout-one.callout.bg-dark-alfa-30
section#callout-one.callout.bg-dark-alfa-30
    .container
        .row
            .col-sm-2.col-sm-offset-5.text-center.long-down
                //img(src='../images/divider-top.svg', alt='')
        // .row
        .row
            .col-sm-10.col-sm-offset-1
                //h2.callout-text Premium food at affordable price.
        // .row
    // .container
// Callout section end
// Dishes start
section#dishes.module
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 메뉴 소개
                    h3.module-subtitle ABOUT MENU
        // .row
        .row
            .col-sm-8.col-sm-offset-2.text-center
                ul.nav.nav-pills
                    li.active
                        a(data-toggle="tab", href='#menu_tab1') 샐러드
                    li
                        a(data-toggle="tab", href='#menu_tab2') 파스타
                    li
                        a(data-toggle="tab", href='#menu_tab3') 볶음밥
                    li
                        a(data-toggle="tab", href='#menu_tab4') 스테이크
                    li
                        a(data-toggle="tab", href='#menu_tab5') 피자
                    li
                        a(data-toggle="tab", href='#menu_tab6') 세트및사이드
                    li
                        a(data-toggle="tab", href='#menu_tab7') 음료및주류
                .tab-content
                    #menu_tab1.tab-pane.fade.in.active
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 제주산 통마늘 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 7,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 버섯 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 7,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 리코타 치즈 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 웨지 감자튀김 샐러드 세트
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_5.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 오리엔탈 치키 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 12,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_6.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 열대망고 쉬림프 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/salad_7.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 윙 샐러드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                    #menu_tab2.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 까르보나라
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 명란 파스타
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 빠네
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 12,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 블랙 빠네
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 12,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_5.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 고르곤졸라 크림 파스트
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_6.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 아라비아타 포모도르
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_7.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 토마토 누룽지 크로깐테
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_8.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 로제 쉬림프
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_9.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 상하이 파스타
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_10.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 2배 까르보나라
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 14,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_11.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 2배 아라비아타 포모도르
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 14,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pasta_12.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 2배 로제 쉬림프
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 14,900
                        .menu
                    #menu_tab3.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/friedrice_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 소고기 볶음밥
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/friedrice_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 해산물 볶음밥
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/friedrice_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 스파이시 새우 볶음밥
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/friedrice_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 전복 키조개 볶음밥
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 12,900
                        .menu
                    #menu_tab4.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 제주 흑돼지 돈까스
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 까르보 치킨
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 제주 生 목살 스테이크
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 14,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 제주 生 목살 찹 스테이크
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 13,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_5.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 등심 스테이크
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 19,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_6.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 블랙 페퍼 안심 스테이크
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 19,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/steak_7.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 안심 스테이크
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 19,900
                        .menu
                    #menu_tab5.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pizza_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 고르곤졸라 피자
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pizza_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 허니 단호박 피자
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pizza_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 루스트 피자
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/pizza_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 디아블로 페퍼로니 피자
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 9,900
                        .menu
                    #menu_tab6.tab-pane.fade
                        .row
                            .col-sm-6
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/set_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 런치팩 세트 (3인 기준)
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 29,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title 흑돼지 돈가스 + 빠네 파스트 + 해산물 볶음밥 + 후식 3개
                            .col-sm-6
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/set_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 패밀리 세트 (5인 기준)
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 49,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title 망고 쉬림프 샐러드 + 빠네 파스타 + 포모도르 + 제주 포크 스테이크 + 고르곤졸라 피자 + 후식 5개
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/side_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 나쵸
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 7,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/side_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 포테이토
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 7,900
                        .menu
                    #menu_tab7.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_1.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 자몽 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_2.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 레몬 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_3.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 오렌지 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_4.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 블루 레몬 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_5.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 블루베리 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_6.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 애플망고 에이드
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_7.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 스프라이트
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,000
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_8.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 코카콜라
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,000
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_9.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 웰치스
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 2,000
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_10.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 맥스 생맥주
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 1,000
                            .col-sm-4
                                div(style="padding: 0 0 10px")
                                    img(src='../images/menu/beverage_11.jpg', alt='')
                                .col-sm-9
                                    h4.menu-title 클라우드 생맥주
                                .col-sm-3.menu-price-detail
                                    h4.menu-price 1,500
                        .menu
        // .row
    // .container
// Dishes end