// Dishes start
section#dishes.module
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 메뉴 소개
                    h3.module-subtitle ABOUT MENU
        // .row
        .row
            .col-sm-8.col-sm-offset-2.text-center
                ul.nav.nav-pills
                    li.active
                        a(data-toggle="tab", href='#menu_tab1') 샐러드
                    li
                        a(data-toggle="tab", href='#menu_tab2') 파스타
                    li
                        a(data-toggle="tab", href='#menu_tab3') 볶음밥
                    li
                        a(data-toggle="tab", href='#menu_tab4') 스테이크
                    li
                        a(data-toggle="tab", href='#menu_tab5') 피자
                    li
                        a(data-toggle="tab", href='#menu_tab6') 세트및사이드
                    li
                        a(data-toggle="tab", href='#menu_tab7') 음료및주류
                .tab-content
                    #menu_tab1.tab-pane.fade.in.active
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 제주 통마늘 소고기 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 버섯 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 리코타 치즈 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 웨지 감자튀김 샐러드 세트
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_5.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 오리엔탈 치킨 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_6.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 열대망고 쉬림프 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/salad_7.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 윙 샐러드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                    #menu_tab2.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 까르보나라
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 고르곤졸라 크림 파스타
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 명란 파스타
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 짬뽕 파스타
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_5.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 아라비아타 포모도로
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_6.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 로제쉬림프 파스타
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_7.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 마레
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_8.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 토마토 누룽지 크로깐테
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_9.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 빠네
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_10.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 블랙빠네
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_11.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 2배 까르보나라
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 14,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_12.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 2배 아라비아타 포모도로
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 14,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pasta_13.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 2배 로제쉬림프 파스타
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 14,900
                        .menu
                    #menu_tab3.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/friedrice_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 소고기 볶음밥
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/friedrice_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 해산물 볶음밥
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/friedrice_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 스파이시 새우 볶음밥
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/friedrice_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 전복 키조개 볶음밥
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 12,900
                        .menu
                    #menu_tab4.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 제주 흑돼지 돈까스
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 까르보 치킨
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 제주 生 목살 스테이크
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 14,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 제주 生 목살 찹 스테이크
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 13,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_5.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 등심 스테이크
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 19,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_6.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 블랙 페퍼 안심 스테이크
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 19,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/steak_7.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 안심 스테이크
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 19,900
                        .menu
                    #menu_tab5.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pizza_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 고르곤졸라 피자
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pizza_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 허니 단호박 피자
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pizza_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 루스트 피자
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/pizza_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 디아블로 페퍼로니 피자
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 9,900
                        .menu
                    #menu_tab6.tab-pane.fade
                        .row
                            .col-sm-6
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/set_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 런치팩 세트 (3인 기준)
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 29,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title(style="text-align: left") 흑돼지 돈가스 + 빠네 파스타 + 해산물 볶음밥 + 후식 3개
                            .col-sm-6
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/set_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 패밀리 세트 (5인 기준)
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 49,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title(style="text-align: left") 망고 쉬림프 샐러드 + 빠네 파스타 + 포모도로 + 제주 포크 스테이크 + 고르곤졸라 피자 + 후식 5개
                        .menu
                        .row
                            .col-sm-6
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/set_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 커플세트 A
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 29,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title(style="text-align: left") 해산물 볶음밥 + 까르보나라 + 윙봉 + 에이드 2잔 + 후식 3개
                            .col-sm-6
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/set_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 커플세트 B
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 29,900
                                .col-sm-9(style="padding: 10px 0 10px")
                                    h4.menu-title(style="text-align: left") 스파이시 새우 볶음밥 + 블랙빠네 파스타 + 해쉬포테이토 + 에이드 2잔 + 후식 3개
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/side_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 나쵸
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/side_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 포테이토
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/side_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 윙&봉 세트
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 5,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/side_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 해쉬포테이토
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 4,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/side_5.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 오다리
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 7,900
                        .menu
                    #menu_tab7.tab-pane.fade
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_1.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 자몽 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_2.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 레몬 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_3.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 오렌지 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_4.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 블루 레몬 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_5.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 블루베리 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_6.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 애플망고 에이드
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,900
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_7.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 스프라이트
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,000
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_8.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 코카콜라
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,000
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_9.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 웰치스
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 2,000
                        .menu
                        .row
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_10.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 맥스 생맥주
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 1,000
                            .col-sm-4
                                div(style="padding: 0 0 5px")
                                    img(src='../images/menu/beverage_11.png', alt='')
                                .col-sm-9
                                    h4.menu-title(style="text-align: left") 클라우드 생맥주
                                .col-sm-3.menu-price-detail(style="padding: 0 0 5px")
                                    h4.menu-price(style="text-align: right") 1,500
                        .menu
        // .row
    // .container
// Dishes end