// Callout section start
section#callout-one.callout.bg-dark-alfa-30
    .container
        .row
            .col-sm-2.col-sm-offset-5.text-center.long-down
                img(src='../images/divider-top.svg', alt='')
        // .row
        .row
            .col-sm-10.col-sm-offset-1
                h2.callout-text Premium food at affordable price.
        // .row
    // .container
// Callout section end
// Dishes start
section#dishes.module
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 메뉴 소개
                    h3.module-subtitle ABOUT MENU
        // .row
        .row
            .col-sm-8.col-sm-offset-2.text-center
                ul.nav.nav-pills
                    li.active
                        a(data-toggle="tab", href='#menu_tab1') 샐러드
                    li
                        a(data-toggle="tab", href='#menu_tab2') 파스타
                    li
                        a(data-toggle="tab", href='#menu_tab3') 볶음밥
                .tab-content
                    #menu_tab1.tab-pane.fade.in.active
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_1.png', alt='')
                                .menu
                                    .row(style="text-align: left")
                                        .col-sm-9
                                            h4.menu-title 제주산 통마늘 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_1.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 버섯 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_1.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 리코타 치즈 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_2.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 제주산 통마늘 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_2.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 버섯 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_2.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 리코타 치즈 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_3.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 제주산 통마늘 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_3.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 버섯 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_3.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 리코타 치즈 샐러드
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                    #menu_tab2.tab-pane.fade
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_5.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_5.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_5.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                            .col-sm-3.menu-price-detail
                                        h4.menu-price 7,900
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_6.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_6.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_6.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 파스타
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                    #menu_tab3.tab-pane.fade
                        .row
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_7.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 볶음밥
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_7.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 볶음밥
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
                            .col-sm-4
                                .row(style="text-align: center")
                                    img(src='../images/rst2/salad_7.png', alt='')
                                .menu
                                    .row
                                        .col-sm-9
                                            h4.menu-title 볶음밥
                                        .col-sm-3.menu-price-detail
                                            h4.menu-price 7,900
        // .row
    // .container
// Dishes end