meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name="naver-site-verification" content="4e17ab3df6dedb461eb6025a967577a8e8b7d1ed")
meta(name="description" content="루스트 가맹문의 QnA")
meta(name='author', content='spark')
meta(property="og:type" content="website")
meta(property="og:title" content="루스트")
meta(property="og:description" content="루스트 가맹문의 QnA")
meta(property="og:image" content="http://www.roostplace.com/images/main/logo.png")
meta(property="og:url" content="http://www.roostplace.com/franchise")