doctype html
html
  head
    title 루스트가맹문의    
    include franchisemeta
    include link
    
  body
    #preloader
      #status
        .status-mes
        
    nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='index.html') Roost Place
          a.navbar-brand(href='/') Roost Place
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll.active
              a(href='/#/#home') 루스트
            li.page-scroll
              a(href='/#/#dishes') 메뉴소개
            li.page-scroll
              a(href='/#/#gallery') 갤러리
            li.page-scroll
              a(href='/#/#store') 매장안내
            li.page-scroll
              a(href='/#/#services') 서비스
            li.page-scroll
              a(href='/#/#about') 루스트스토리
            li.page-scroll
              a(href='#franchise') 가맹문의            
            li.page-scroll
              a(href='/#/#news') 루스트소식    
    // About start
    section#franchise.module
        .container
            .row
                .col-sm-6.col-sm-offset-3
                    .module-header.wow.fadeInUp
                        h2.module-title 가맹문의
                        h3.module-subtitle FRANCHISE Q&A
            // .row        
            .row
                .col-sm-8.col-sm-offset-2.text-center
                    h3 "더 좋은 루스트를 만들 파트너를 찾습니다."
                    b 루스트 플레이스의 가맹 개설에 대한 궁금한 점을
                    br
                    b 전화로 문의하시면 친절하고 상세히 설명드립니다.
            // .row
            br
            .row
                .col-sm-8.col-sm-offset-2.text-center
                    img(src='../images/main/franchise_logo.png', alt='')
            // .row
            br
            .row
                .col-sm-8.col-sm-offset-2.text-center
                    h4 가맹 관련 전화문의
                    h3 010.8662.1482
            // .row
        // .container
    // About end
    
    footer#footer
        .container
            .row
            .col-sm-12
                p.copyright
                | Copyright / 2016. 루스트플레이스 All Rights Reserved.

    .scroll-up
      a(href='#totop')
        i.icon-arrow-up

include script