// Gallery start
section#gallery.module
    .row.position-relative.margin-0
        .col-xs-12.col-md-4.side-image
            .vertical-body
                .vertical
                    .module-header.wow.fadeInUp
                        h2.module-title 갤러리
                        h3.module-subtitle SEE THE GALLERY
                    .long-down
                        p
                    //a.btn.btn-custom-1(href='gallery.html') View Gallery
        .col-xs-12.col-md-8.col-md-offset-4.gallery-no-padding
            .row
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-1.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-1.jpg', title='Title 1')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-2.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-2.jpg', title='Title 2')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-3.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-1.jpg', title='Title 3')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
            // .row
            .row
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-4.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-2.jpg', title='Title 4')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-5.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-1.jpg', title='Title 5')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
                .col-sm-4
                    .gallery-item
                        figure.overlay
                            img(src='../images/gallery-6.jpg', alt='')
                            figcaption
                                a.gallery(href='../images/gallery-big-2.jpg', title='Title 6')
                                .caption-inner
                                    .overlay-icon
                                        span.icon-magnifier
            // .row
        // .gallery-no-padding
    // .row
// Gallery end