// Home start
section#home.intro-module.module-image.heightfull.bg-dark-alfa-30
    //.intro
        .intro-slider
            .owl-item
                h1.intro-title Premium food at affordable price.
            .owl-item
                h1.intro-title Relax in our quiet harbor.
            .owl-item
                h1.intro-title Impeccable European service.
        // .intro-slider
    // .intro
    .mouse-icon
        .wheel
// Home end