extends layout

block content
    // Home start
    section#home.intro-module.module-image.heightfull.bg-dark-alfa-30
      // .intro
        .intro-slider
          // Slide 1
          .owl-item
            h1.intro-title Premium food at affordable price.
          // Slide 2
          .owl-item
            h1.intro-title Relax in our quiet harbor.
          // Slide 3
          .owl-item
            h1.intro-title Impeccable European service.
        // .intro-slider
      // .intro
      .mouse-icon
        .wheel
    // Home end
    // About start
    section#about.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title 루스트 브랜드 스토리
              h3.module-subtitle ABOUT ROOST PLACE
        // .row
        
        .row
          .col-sm-8.col-sm-offset-2.text-center
            | 루스트는 2010년 제주노형점 오픈을 시작으로 총 8개 지점을 오픈하였습니다.
          .col-sm-8.col-sm-offset-2.text-center
            | 신선한 식자재들로 요리하며 합리적인 가격으로 편안하게 쉬어 갈 수 있는 휴식처를 제공하는 서비스문화를 
          .col-sm-8.col-sm-offset-2.text-center
            | 만들어내어 젊은 남녀 고객과 가족단위, 연령층의 제한없이 많은 사랑을 받고 있습니다. 
          .col-sm-8.col-sm-offset-2.text-center
            | 앞으로도 언제 어디서나 더 편안하게 머물러 가실 수 있는 루스트가 되도록 노력하겠습니다.
        // .row
        br
        .row
          .col-sm-6.col-sm-offset-2
            h3.menu-title 브랜드 아이덴티티 소개
        // .row
        br
        .row
            .col-sm-4.col-sm-offset-2
                .menu-detail 로고
                .row(style="text-align: center")
                    img(src='../images/rst2/logo.png', alt='')
            .col-sm-4
                .menu-detail 컬러
                .row(style="text-align: center")
                    img(src='../images/rst2/logo_color.png', alt='')
        // .row
        br
        .row
          .col-sm-8.col-sm-offset-2.text-center
            | 브랜드 컨셉소개 : 루스트라는 의미는 휴식처라는 의미이며, 휴식처를 컨셉으로 도시에서 생활하는 현대인들의 
          .col-sm-8.col-sm-offset-2.text-center
            | 피로를 덜어 줄 수 있는 자연적인 요소들로 정신적으로 편안함을 느끼게 할 수 있는 인테리어와 합리적인 가격으로 
          .col-sm-8.col-sm-offset-2.text-center
            | 더 편안하게, 기분 좋게 식사하고 갈 수 있도록 제공하고자 이러한 특징을 살려 브랜드 이미지를 전달합니다.
        // .row
        
        // .row
          .col-sm-6.col-sm-offset-3
            .devider
              img(src='../images/divider-down.svg', alt='')
        // .row
      // .container
    // About end
    // Callout section start
    section#callout-one.callout.bg-dark-alfa-30
      .container
        .row
          .col-sm-2.col-sm-offset-5.text-center.long-down
            img(src='../images/divider-top.svg', alt='')
        // .row
        .row
          .col-sm-10.col-sm-offset-1
            h2.callout-text Premium food at affordable price.
        // .row
      // .container
    // Callout section end
    // Dishes start
    section#dishes.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title 메뉴 소개
              h3.module-subtitle ABOUT MENU
        .row
          .col-sm-8.col-sm-offset-2.text-center
            ul.nav.nav-pills
              li.active
                a(data-toggle="tab", href='#menu_tab1') 샐러드
              li
                a(data-toggle="tab", href='#menu_tab2') 파스타
              li
                a(data-toggle="tab", href='#menu_tab3') 볶음밥
            .tab-content
                #menu_tab1.tab-pane.fade.in.active
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_1.png', alt='')
                        .menu
                          .row(style="text-align: left")
                            .col-sm-9
                              h4.menu-title 제주산 통마늘 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_1.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 버섯 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_1.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 리코타 치즈 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_2.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 제주산 통마늘 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_2.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 버섯 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_2.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 리코타 치즈 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_3.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 제주산 통마늘 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_3.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 버섯 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_3.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 리코타 치즈 샐러드
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                #menu_tab2.tab-pane.fade
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_5.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_5.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_5.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_6.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_6.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_6.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 파스타
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                #menu_tab3.tab-pane.fade
                  .row
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_7.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 볶음밥
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_7.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 볶음밥
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
                    .col-sm-4
                        .row(style="text-align: center")
                            img(src='../images/rst2/salad_7.png', alt='')
                        .menu
                          .row
                            .col-sm-9
                              h4.menu-title 볶음밥
                            .col-sm-3.menu-price-detail
                              h4.menu-price 7,900
    // section#dishes2.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title Chef Recommended
              h3.module-subtitle Signatures dishes recommend by our chef
        // .row
        .row
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-1-1.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-1-1.jpg', title='Wild Mushroom Bucatini')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title Wild Mushroom Bucatini
                    .menu-detail Mushroom / Veggie / White Sources
                  .col-sm-3.menu-price-detail
                    h4.menu-price $12
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-2-2.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-2-2.jpg', title='Imported Oysters Grill')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title Imported Oysters Grill (5 Pieces)
                    .menu-detail Oysters / Veggie / Ginger
                  .col-sm-3.menu-price-detail
                    h4.menu-price $10.5
                    span.menu-label New
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-3-3.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-3-3.jpg', title='Lemon and Garlic Green Beans')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title Lemon and Garlic Green Beans
                    .menu-detail Pepper / Chicken / Honey
                  .col-sm-3.menu-price-detail
                    h4.menu-price $8.5
        // .row
        .row
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-4-4.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-4-4.jpg', title='Meatloaf with Black Pepper')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title Meatloaf with Black Pepper
                    .menu-detail Pepper / Chicken / Honey
                  .col-sm-3.menu-price-detail
                    h4.menu-price $14.5
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-5-5.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-5-5.jpg', title='LambBeef Kofka Skewers')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title LambBeef Kofka Skewers
                    .menu-detail Lemon / Garlic / Beans
                  .col-sm-3.menu-price-detail
                    h4.menu-price $16
          .col-sm-4
            .menu-classic
              figure.overlay
                img(src='../images/dishes-6-6.jpg', alt='')
                figcaption
                  a.popup-image(href='../images/dishes-6-6.jpg', title='Wild Mushroom Bucatini')
                  .caption-inner
                    .overlay-icon
                      span.icon-magnifier
              .menu
                .row
                  .col-sm-9
                    h4.menu-title Wild Mushroom Bucatini
                    .menu-detail Lamb / Wine / Butter
                  .col-sm-3.menu-price-detail
                    h4.menu-price $11
        // .row
        .row
          .col-sm-6.col-sm-offset-3
            .devider
              img(src='../images/divider-down.svg', alt='')
        // .row
      // .container
    // Dishes end
    // Callout section start
    section#callout-two.callout.bg-dark-alfa-30
      .container
        .row
          .col-sm-2.col-sm-offset-5.text-center.long-down
            img(src='../images/divider-top.svg', alt='')
        // .row
        .row
          .col-sm-12
            h2.callout-text Try the taste of Italy.
        // .row
      // .container
    // Callout section end
    // Popular start
    section#popular.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title 매장 안내
              h3.module-subtitle ABOUT STORE
        .row
          .col-sm-8.col-sm-offset-2.text-center
            ul.nav.nav-pills
              li.active
                a(data-toggle="tab", href='#store_tab1') 노형점(본점)
              li
                a(data-toggle="tab", href='#store_tab2') 베라체첨
              li
                a(data-toggle="tab", href='#store_tab3') 제원점
    // section#popular.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title Popular Dishes
              h3.module-subtitle Our most popular menu
        // .row
        .row
          .col-sm-6
            .menu
              .row
                .col-sm-8
                  h4.menu-title Wild Mushroom Bucatini with Kale
                  .menu-detail Mushroom / Veggie / White Sources
                .col-sm-4.menu-price-detail
                  h4.menu-price $10.5
            .menu
              .row
                .col-sm-8
                  h4.menu-title Lemon and Garlic Green Beans
                  .menu-detail Lemon / Garlic / Beans
                .col-sm-4.menu-price-detail
                  h4.menu-price $14.5
                  .menu-label New
            .menu
              .row
                .col-sm-8
                  h4.menu-title LambBeef Kofka Skewers with Tzatziki
                  .menu-detail Lamb / Wine / Butter
                .col-sm-4.menu-price-detail
                  h4.menu-price $18.5
            .menu
              .row
                .col-sm-8
                  h4.menu-title Imported Oysters Grill (5 Pieces)
                  .menu-detail Oysters / Veggie / Ginger
                .col-sm-4.menu-price-detail
                  h4.menu-price $15.9
            .menu
              .row
                .col-sm-8
                  h4.menu-title Meatloaf with Black Pepper-Honey BBQ
                  .menu-detail Pepper / Chicken / Honey
                .col-sm-4.menu-price-detail
                  h4.menu-price $16.4
          // .col-sm-6
          .col-sm-6
            .menu
              .row
                .col-sm-8
                  h4.menu-title Wild Mushroom Bucatini with Kale
                  .menu-detail Mushroom / Veggie / White Sources
                .col-sm-4.menu-price-detail
                  h4.menu-price $14.5
            .menu
              .row
                .col-sm-8
                  h4.menu-title Lemon and Garlic Green Beans
                  .menu-detail Lemon / Garlic / Beans
                .col-sm-4.menu-price-detail
                  h4.menu-price $14.5
            .menu
              .row
                .col-sm-8
                  h4.menu-title LambBeef Kofka Skewers with Tzatziki
                  .menu-detail Lamb / Wine / Butter
                .col-sm-4.menu-price-detail
                  h4.menu-price $18.5
                  .menu-label Recommended
            .menu
              .row
                .col-sm-8
                  h4.menu-title Imported Oysters Grill (5 Pieces)
                  .menu-detail Oysters / Veggie / Ginger
                .col-sm-4.menu-price-detail
                  h4.menu-price $15.9
            .menu
              .row
                .col-sm-8
                  h4.menu-title Meatloaf with Black Pepper-Honey BBQ
                  .menu-detail Pepper / Chicken / Honey
                .col-sm-4.menu-price-detail
                  h4.menu-price $16.4
          // .col-sm-6
        // .row
        .row
          .col-sm-6.col-sm-offset-3.long-up.text-center
            a.btn.btn-custom-1(href='menu-simple.html') View Menu
        // .row
        .row
          .col-sm-6.col-sm-offset-3
            .devider
              img(src='../images/divider-down.svg', alt='')
        // .row
      // .container
    // Popular end
    // Callout section start
    section#callout-three.callout.bg-dark-alfa-30
      .container
        .row
          .col-sm-10.col-sm-offset-1
            .testimonials-slider
              // Slide 1
              .owl-item
                blockquote Sea food and the best view. Nothing in excess.
                .testimonial-author
                  .row
                    .col-sm-6.testimonial-avatar
                      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg', alt='')
                    .col-sm-6.testimonial-info
                      h4 Jack Woods
                      .stars
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star.star-off
              // Slide 2
              .owl-item
                blockquote I love this place!
                .testimonial-author
                  .row
                    .col-sm-6.testimonial-avatar
                      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg', alt='')
                    .col-sm-6.testimonial-info
                      h4 Andy River
                      .stars
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
              // Slide 3
              .owl-item
                blockquote Perhaps the most romantic place in the city.
                .testimonial-author
                  .row
                    .col-sm-6.testimonial-avatar
                      img(src='https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg', alt='')
                    .col-sm-6.testimonial-info
                      h4 Jimmy Stone
                      .stars
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star.star-off
                        i.fa.fa-star.star-off
            // .testimonials-slider
          // .col-sm-10
        // .row
      // .container
    // Callout section end
    // Services start
    section#services.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title We provide the following
              h3.module-subtitle Services
        // .row
        .row
          .col-sm-3
            .iconbox
              .iconbox-body.equal-height
                .iconbox-icon
                  span.icon-calendar
                .iconbox-text
                  h3.iconbox-title Opened 24/7
                  .iconbox-desc
                    | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
          .col-sm-3
            .iconbox
              .iconbox-body.equal-height
                .iconbox-icon
                  span.icon-directions
                .iconbox-text
                  h3.iconbox-title Free parking
                  .iconbox-desc
                    | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
          .col-sm-3
            .iconbox
              .iconbox-body.equal-height
                .iconbox-icon
                  span.icon-map
                .iconbox-text
                  h3.iconbox-title Central Location
                  .iconbox-desc
                    | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
          .col-sm-3
            .iconbox
              .iconbox-body.equal-height
                .iconbox-icon
                  span.icon-like
                .iconbox-text
                  h3.iconbox-title High quality
                  .iconbox-desc
                    | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
        // .row
        .row
          .col-sm-8.col-sm-offset-2.text-center.long-up
            | * Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it.
        // .row
        .row
          .col-sm-6.col-sm-offset-3
            .devider
              img(src='../images/divider-down.svg', alt='')
        // .row
      // .container
    // Services end
    // Gallery start
    section#gallery
      .row.position-relative.margin-0
        .col-xs-12.col-md-4.side-image
          .vertical-body
            .vertical
              .module-header.wow.fadeInUp
                h2.module-title Gallery
                h3.module-subtitle see the gallery
              .long-down
                p
                  | The European languages are members of family. Their separate existence is a myth. For science, music Europe uses the same vocabulary.
              a.btn.btn-custom-1(href='gallery.html') View Gallery
        .col-xs-12.col-md-8.col-md-offset-4.gallery-no-padding
          .row
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-1.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-1.jpg', title='Title 1')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-2.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-2.jpg', title='Title 2')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-3.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-1.jpg', title='Title 3')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
          // .row
          .row
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-4.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-2.jpg', title='Title 4')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-5.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-1.jpg', title='Title 5')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
            .col-sm-4
              .gallery-item
                figure.overlay
                  img(src='../images/gallery-6.jpg', alt='')
                  figcaption
                    a.gallery(href='../images/gallery-big-2.jpg', title='Title 6')
                    .caption-inner
                      .overlay-icon
                        span.icon-magnifier
          // .row
        // .gallery-no-padding
      // .row
    // Gallery end
    // Reservations start
    section#reservations.module
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title Make a reservation
              h3.module-subtitle Book a table
        // .row
        .row
          .col-sm-8.col-sm-offset-2
            form#booking-form(role='form', data-mobiletimepiker='On', novalidate='')
              .row
                .col-sm-6.form-group
                  label.sr-only(for='bname') Name
                  input#bname.form-control(type='text', name='bname', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .col-sm-6.form-group
                  label.sr-only(for='bphone') Phone
                  input#bphone.form-control(type='number', name='bphone', placeholder='Phone', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              // .row
              .row
                .col-sm-6.form-group
                  label.sr-only(for='bemail') Email
                  input#bemail.form-control(type='email', name='bemail', placeholder='Email', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block
                .col-sm-6.form-group
                  label.sr-only(for='bpeople') How many people?
                  input#bpeople.form-control(type='text', name='bpeople', placeholder='How many people?', required='', data-validation-required-message='Please enter number of guests.')
                  p.help-block.text-danger
              // .row
              .row
                .col-sm-6.form-group
                  label.sr-only(for='bdate') Date
                  input#bdate.form-control(type='text', name='bdate', placeholder='Date', required='', data-validation-required-message='Please enter reservation date.')
                  p.help-block.text-danger
                .col-sm-6.form-group
                  label.sr-only(for='btime') Time
                  input#btime.form-control(type='text', name='btime', placeholder='Time', autocomplete='off', required='', data-validation-required-message='Please enter your arrival time.')
                  p.help-block.text-danger
              // .row
              .row
                .col-sm-12.form-group
                  textarea#bmessage.form-control(name='bmessage', rows='4', placeholder='Special Requests', required='', data-validation-required-message='Please enter your special requests.')
                  p.help-block.text-danger
              // .row
              .row
                .col-sm-12.text-center
                  button.btn.btn-custom-1(type='submit') Submit
              // .row
            // Ajax response
            #booking-response.ajax-response
        // .row
        .row
          .col-sm-6.col-sm-offset-3
            .devider
              img(src='../images/divider-down.svg', alt='')
        // .row
      // .container
    // Reservations end
    // Twitter start
    section#twitter.module.module-gray
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title Twitter feed
              h3.module-subtitle Our news and events
        // .row
        .row
          .col-sm-8.col-sm-offset-2.text-center
            .twitter.owl-carousel.wow.fadeInUp
        // .row
      // .container
    // Twitter end
    // Subscribe start
    section#subscribe.module.module-dark
      .container
        .row
          .col-sm-6.col-sm-offset-3
            .module-header.wow.fadeInUp
              h2.module-title Subscribe
              h3.module-subtitle Subscribe to our newsletter
        // .row
        .row
          .col-sm-6.col-sm-offset-3
            form#subscription-form(role='form', novalidate='')
              .row
                .col-sm-6.form-group
                  label.sr-only(for='sname') Name
                  input#sname.form-control(type='text', name='sname', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .col-sm-6.form-group
                  label.sr-only(for='ssurname') Surname
                  input#ssurname.form-control(type='text', name='ssurname', placeholder='Surname', required='', data-validation-required-message='Please enter your surname.')
                  p.help-block.text-danger
                .col-sm-12.form-group
                  label.sr-only(for='semail') Your Email
                  input#semail.form-control(type='email', name='semail', placeholder='Your Email', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                .col-sm-12.text-center
                  button.btn.btn-default.btn-custom-2(type='submit') Subscribe
              // .row
            // Ajax response
            #subscription-response.ajax-response
        // .row
        .row
          .col-md-12.text-center.long-up
            ul.social-links
              li
                a.wow.fadeInUp(href='#')
                  i.fa.fa-facebook
              li
                a.wow.fadeInUp(href='#', data-wow-delay='.1s')
                  i.fa.fa-twitter
              li
                a.wow.fadeInUp(href='#', data-wow-delay='.2s')
                  i.fa.fa-google-plus
              li
                a.wow.fadeInUp(href='#', data-wow-delay='.3s')
                  i.fa.fa-linkedin
              li
                a.wow.fadeInUp(href='#', data-wow-delay='.4s')
                  i.fa.fa-pinterest
              li
                a.wow.fadeInUp(href='#', data-wow-delay='.5s')
                  i.fa.fa-envelope
        // .row
      // .container
    // Subscribe end