doctype html
html
  head
    title #{title}: Roost Place
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    
    // Angular Script
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')

    // Bootstrap core CSS
    link(href='/javascripts/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    // Font Awesome CSS
    link(href='/stylesheets/font-awesome.min.css', rel='stylesheet', media='screen')
    // Elegant icons CSS
    link(href='/stylesheets/simple-line-icons.css', rel='stylesheet', media='screen')
    //if lte IE 7
      script(src='assets/js/icons-lte-ie7.js')
    // Magnific-popup lightbox
    link(href='/stylesheets/magnific-popup.css', rel='stylesheet')
    // Owl Carousel
    link(href='/stylesheets/owl.theme.css', rel='stylesheet')
    link(href='/stylesheets/owl.carousel.css', rel='stylesheet')
    // Animate css
    link(href='/stylesheets/animate.css', rel='stylesheet')
    // Time and Date piker CSS
    link(href='/stylesheets/jquery.timepicker.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/datepicker.css', rel='stylesheet', media='screen')
    // Custom styles CSS
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/jquery.tagsinput.css', rel='stylesheet')
    
  body
    #preloader(style='display: none;')
      #status(style='display: none;')
        .status-mes
        
    nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='index.html') Roost Place
          a.navbar-brand(href='#home') Roost Place
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll.active
              a(href='#home') 루스트
            li.page-scroll
              a(href='#about') 루스트스토리
            li.page-scroll
              a(href='#dishes') 메뉴소개
            li.page-scroll
              a(href='#store') 매장안내
            li.page-scroll
              a(href='#services') 서비스
            li.page-scroll
              a(href='#gallery') 갤러리
            li.page-scroll
              a(href='#notice') 루스트소식
    
    block content
    
    footer#footer
        .container
            .row
            .col-sm-12
                p.copyright
                | Copyright / 2016. 루스트플레이스 All Rights Reserved.

    .scroll-up
      a(href='#totop')
        i.fa.fa-angle-double-up
    
// Javascript files
//script(src='/javascripts/bootstrap.js')
script(src='/javascripts/jquery-1.11.1.min.js')
script(src='/javascripts/bootstrap/js/bootstrap.min.js')
// Use for slideshow background
script(src='/javascripts/jquery.backstretch.min.js')
// Use for video background
script(src='/javascripts/video.js')
script(src='/javascripts/bigvideo.js')
// Date and time picker
script(src='/javascripts/bootstrap-datepicker.js')
script(src='/javascripts/jquery.datepair.min.js')
script(src='/javascripts/jquery.timepicker.min.js')
script(src='/javascripts/jqBootstrapValidation.js')
// Google Maps
script(src='http://maps.google.com/maps/api/js?sensor=true')
script(src='/javascripts/gmaps.js')
// Daum Mpas
script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=a2c084f5ab8eb1c6ab7e2f7a8440ea75')
script(src='/javascripts/daummaps.js')
// Other
script(src='/javascripts/jquery.matchHeight-min.js')
script(src='/javascripts/jquery.magnific-popup.min.js')
script(src='/javascripts/twitterFetcher_min.js')
script(src='/javascripts/owl.carousel.min.js')
script(src='/javascripts/jquery.fitvids.js')
script(src='/javascripts/smoothscroll.js')
script(src='/javascripts/wow.min.js')
// Custom scripts
script(src='/javascripts/custom.js')
script(src='/javascripts/index.js')
script(src='/javascripts/jquery.tagsinput.js')
script(src='/javascripts/gridTestWithAngular.js')