doctype html
html
  head
    title 루스트    
    include layoutmeta
    include link
    
  body
    #preloader
      #status
        .status-mes
        
    nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='index.html') Roost Place
          a.navbar-brand(href='') Roost Place
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll.active
              a(href='#home') 루스트
            li.page-scroll
              a(href='#dishes') 메뉴소개
            li.page-scroll
              a(href='#gallery') 갤러리
            li.page-scroll
              a(href='#store') 매장안내
            li.page-scroll
              a(href='#services') 서비스
            li.page-scroll
              a(href='#about') 루스트스토리
            li.page-scroll
              a(href='/franchise#franchise') 가맹문의            
            li.page-scroll
              a(href='#news') 루스트소식
    
    block content
    
    footer#footer
        .container
            .row
            .col-sm-12
                p.copyright
                | Copyright / 2016. 루스트플레이스 All Rights Reserved.

    .scroll-up
      a(href='#totop')
        i.icon-arrow-up

include script