doctype html
html
  head
    title 루스트    
    include layoutmeta
    
    include cmmlink
    link(href='/stylesheets/jquery-ui.custom.css', rel='stylesheet')
    link(href='/stylesheets/owl.theme.css', rel='stylesheet')
    link(href='/stylesheets/datepicker.css', rel='stylesheet', media='screen')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.9.0/jquery.timepicker.min.css', rel='stylesheet', media='screen')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css', rel='stylesheet')

  body
    #preloader
      #status
        .status-mes
        
    nav.navbar.navbar-custom.navbar-transparent.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#custom-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //a.navbar-brand(href='index.html') Roost Place
          a.navbar-brand(href='') Roost Place
        #custom-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.page-scroll.active
              a(href='#home') 루스트
            li.page-scroll
              a(href='#dishes') 메뉴소개
            li.page-scroll
              a(href='#gallery') 갤러리
            li.page-scroll
              a(href='#store') 매장안내
            li.page-scroll
              a(href='#services') 서비스
            li.page-scroll
              a(href='#about') 루스트스토리
            li.page-scroll
              a(href='/franchise#franchise') 가맹문의            
            li.page-scroll
              a(href='#news') 루스트소식
    
    block content
    
    footer#footer
        .container
            .row
            .col-sm-12
                p.copyright
                | Copyright / 2016. 루스트플레이스 All Rights Reserved.

    .scroll-up
      a(href='#totop')
        i.icon-arrow-up

include cmmscript
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js')
script(src='/javascripts/ui-bootstrap-tpls-0.11.0.min.js')
script(src='//apis.daum.net/maps/maps3.js?apikey=a2c084f5ab8eb1c6ab7e2f7a8440ea75')
script(src='/javascripts/daummaps.js')
script(src='/javascripts/index.js')
script(src='/javascripts/memo.js')