// Callout section start
section#callout-three.callout.bg-dark-alfa-30
    .container
    .container
        .row
            .col-sm-2.col-sm-offset-5.text-center.long-down
                //img(src='../images/divider-top.svg', alt='')
        // .row
        .row
            .col-sm-10.col-sm-offset-1
                //h2.callout-text Premium food at affordable price.
        // .row
    // .container
// Callout section end
// News start
section#news.module
    .container(ng-controller="ctr_memo", ng-app='app_memo' ng-cloak='')
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 루스트 소식
                    h3.module-subtitle ROOST NEWS
        .row
            .col-md-12
                ng-view Loading...
        .row
            script(type='text/ng-template', id='list.html')
                //.row
                    .col-sm-9.col-sm-offset-2.text-center
                        form.form-inline(align="right")
                            .form-group
                                input.form-control(id='id_searchText', name='id_searchText',
                                    ng-keyup="$event.keyCode == 13 ? searchClick() : null",
                                    type='text', placeholder='Search words...', ng-model='searchText')
                                &nbsp;
                                input.btn.btn-default(type='button', value='검색', ng-click='searchClick()', style="height: 33px")
                .row
                    .col-sm-9.col-sm-offset-2.text-center
                        .table-responsive
                            table.table.mytable
                                thead
                                    th(width="10%", style="text-align: center") 번호
                                    th(style="text-align: center") 제목
                                    th.un(width="15%", style="text-align: center") 작성일
                                    th(width="10%", style="text-align: center") 조회
                                tbody
                                    tr(ng-repeat="item in test_cols", style="cursor:pointer", ng-click='rowClick($index)')
                                        td(id='col_index_{{$index}}', style="text-align: center") {{((curPage - 1) * perPage) + $index + 1}}
                                        td(id='col_contents_{{$index}}', style="text-align: left") {{item.title}}
                                        td.un(id='col_date_{{$index}}', style="text-align: center") {{item.due_date}}
                                        td(id='col_tags_{{$index}}', style="text-align: center")
                                            span.badge {{item.hits}}
                .row
                    .col-sm-9.col-sm-offset-2.text-center
                        div
                            pagination.pagination-sm(boundary-links='true', total-items='total_cnt', ng-model='curPage', ng-change='pageChanged()', items-per-page='perPage', max-size='maxPaginationPerPage', previous-text='‹', next-text='›', first-text='«', last-text='»')

            script(type='text/ng-template', id='detail.html')
                .row
                    .col-sm-9.col-sm-offset-2.text-center
                        form.form-inline(method='post', action='/memo/save')
                            .form-group
                                .row(id='id_editComp')
                                    .col-sm-12
                                        label(style="text-align: right") 제 목: &nbsp
                                        input.form-control(id='id_sel_title', name='sel_title', type='text', ng-model='sel_title', style="width: 85%")
                                    .col-sm-12
                                        label(style="text-align: right") 내 용: &nbsp
                                        textarea(id='id_sel_title', name='sel_contents', ng-model="sel_contents", style="width: 85%; height: 200px")
                                        //input.form-control(id='id_sel_title', name='sel_contents', type='text', ng-model='sel_contents', style="width: 85%; height: 200px")
                                    .col-sm-12
                                        div(align="right", style="padding: 5px 30px 0 0")
                                            | 작성일: &nbsp
                                            input.form-control(style="width: 100px; text-align: center", type='text', ng-model='sel_due_date', name='sel_due_date')
                                            &nbsp
                                            input.btn.btn-default(style="padding: 0 0 0 0; width: 50px; height: 34px", type='button', value='목록', ng-click='cancleClick()')
                                    .col-sm-12
                                        input.form-control(name='sel_id', type='text', ng-model='sel_id', ng-hide='true')
                                        