// Notice start
section#notice.module
    .container(ng-app="app_notice", ng-controller="ctr_notice", ng-cloak='')
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 루스트 소식
                    h3.module-subtitle ROOST NEWS
        // .row
        .row
            //.col-md-12
            .col-sm-8.col-sm-offset-2.text-right
                form.form-inline
                    .form-group
                        input.form-control(id='id_searchText', name='id_searchText', 
                            ng-keyup="$event.keyCode == 13 ? searchClick() : null", 
                            type='text', placeholder='Search words...', ng-model='searchText')
                        input.btn.btn-custom-1(type='button', value='Search', ng-click='searchClick()') 
        // .row
        br
        .row
            .col-sm-8.col-sm-offset-2.text-center
                .table-responsive
                    table.table
                        thead
                            th(width="10%", style="text-align: center") 번호
                            th(width="60%", style="text-align: center") 제목
                            th(width="10%", style="text-align: center") 작성자
                            th(width="10%", style="text-align: center") 작성일
                            th(width="10%", style="text-align: center") 조회
                        tbody
                            tr(ng-repeat="item in test_cols", style="cursor:pointer", ng-click='rowClick($index)')
                                td(id='col_index_{{$index}}') {{$index + 1}}
                                td(id='col_contents_{{$index}}') {{item.title}}
                                td(id='col_tags_{{$index}}') {{item.reg_nm}}
                                td(id='col_tags_{{$index}}') {{item.reg_dt}}
                                td(id='col_tags_{{$index}}') {{item.srch_cnt}}
        // .row
        //form.form-inline(method='post', action='/gridTestWithAngular/next')
            .form-group
                .row
                    .col-md-12
                        input.btn.btn-default(type='button',value='Next...', ng-click='nextClick()')
        br
    // .container
// Notice end