// Callout section start
section#callout-three.callout.bg-dark-alfa-30
    .container
    .container
        .row
            .col-sm-2.col-sm-offset-5.text-center.long-down
                //img(src='../images/divider-top.svg', alt='')
        // .row
        .row
            .col-sm-10.col-sm-offset-1
                //h2.callout-text Premium food at affordable price.
        // .row
    // .container
// Callout section end
// Services start
section#services.module
    .container
        .row
            .col-sm-8.col-sm-offset-2
                .module-header.wow.fadeInUp
                    h2.module-title 탁월한 루스트에 탁월함을 더하다
                    h3.module-subtitle ENJOY ROOST
        // .row
        .row
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-calendar
                        .iconbox-text
                            h3.iconbox-title 하루종일 9,900원
                            .iconbox-desc
                                | 하루종일 9,900원 에 대한 추가 설명요.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-directions
                        .iconbox-text
                            h3.iconbox-title 모든메뉴 포장가능
                            .iconbox-desc
                                | 모든메뉴 포장가능에 대한 추가 설명요.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-map
                        .iconbox-text
                            h3.iconbox-title 코르크차지 X
                            .iconbox-desc
                                | 코르크차지 X 에 대한 추가 설명요.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-like
                        .iconbox-text
                            h3.iconbox-title 새벽2시까지 영업
                            .iconbox-desc
                                | 새벽2시까지 영업에 대한 추가 설명요.
        // .row
        .row
            .col-sm-8.col-sm-offset-2.text-center.long-up
                h4 언제 어디서나 편하게 쉬었다가실 수 있는 루스트가 되도록 노력하겠습니다.
        // .row
    // .container
// Services end