// Callout section start
section#callout-three.callout.bg-dark-alfa-30
    .container
        .row
            .col-sm-10.col-sm-offset-1
                .testimonials-slider
                    // Slide 1
                    .owl-item
                        blockquote Sea food and the best view. Nothing in excess.
                        .testimonial-author
                            .row
                                .col-sm-6.testimonial-avatar
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg', alt='')
                                .col-sm-6.testimonial-info
                                    h4 Jack Woods
                                    .stars
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star.star-off
                    // Slide 2
                    .owl-item
                        blockquote I love this place!
                        .testimonial-author
                            .row
                                .col-sm-6.testimonial-avatar
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg', alt='')
                                .col-sm-6.testimonial-info
                                    h4 Andy River
                                    .stars
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                    // Slide 3
                    .owl-item
                        blockquote Perhaps the most romantic place in the city.
                        .testimonial-author
                            .row
                                .col-sm-6.testimonial-avatar
                                    img(src='https://s3.amazonaws.com/uifaces/faces/twitter/dannpetty/128.jpg', alt='')
                                .col-sm-6.testimonial-info
                                    h4 Jimmy Stone
                                    .stars
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star.star-off
                                        i.fa.fa-star.star-off
                // .testimonials-slider
            // .col-sm-10
        // .row
    // .container
// Callout section end
// Services start
section#services.module
    .container
        .row
            .col-sm-6.col-sm-offset-3
                .module-header.wow.fadeInUp
                    h2.module-title 합리적인 루스트만의 혜택
                    h3.module-subtitle ENJOY ROOST
        // .row
        .row
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-calendar
                        .iconbox-text
                            h3.iconbox-title 하루종일 9,900원
                            .iconbox-desc
                                | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-directions
                        .iconbox-text
                            h3.iconbox-title 모든메뉴 포장가능
                            .iconbox-desc
                                | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-map
                        .iconbox-text
                            h3.iconbox-title 코르크차지 X
                            .iconbox-desc
                                | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
            .col-sm-3
                .iconbox
                    .iconbox-body.equal-height
                        .iconbox-icon
                            span.icon-like
                        .iconbox-text
                            h3.iconbox-title 새벽2시까지 영업
                            .iconbox-desc
                                | Thus, then, one of our own noble stamp, even a whaleman, is the tutelary guardian of England.
        // .row
        .row
            .col-sm-8.col-sm-offset-2.text-center.long-up
                | 언제 어디서나 편하게 쉬었다가실 수 있는 루스트가 되도록 노력하겠습니다.
        // .row
    // .container
// Services end